body{
background:#0f0f0f;
color:white;
font-family:Arial;
text-align:center;
}

.hero{
padding:80px 20px;
}

button{
padding:12px 25px;
background:gold;
border:none;
font-weight:bold;
cursor:pointer;
margin-top:20px;
}

.question{
margin:20px auto;
width:80%;
max-width:600px;
}

select{
padding:5px;
margin-top:5px;
}

.hidden{
display:none;
}
